::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    /* background: red; */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(119, 125, 124, 0.626);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--accent-foreground));
  }